.body1{
    background-image: linear-gradient(to right, red , grey);
}
.body2{
    background-image: linear-gradient(to right, grey , red);
}
.body3{
    background-image: linear-gradient(to right, grey , red , grey);
}
h3{
    color: whitesmoke;
}
h1{
    text-align: center;
    color: whitesmoke;
}

.black{
    background-color: black;
}